myproject/__pycache__/__init__.cpython-38.pyc
myproject/__pycache__/settings.cpython-38.pyc
myproject/__pycache__/*.pyc
myprojectapp/migrations/__pycache__/*.pyc
myprojectapp/__pycache__/*.pyc
sachin1.jpg
sachin2.jpg
Sachin3.jpg
sehwag2.jpg
sehwah.jpg
image.jpg
workingcode/*.jpg
workingcode/photos/*.jpg
workingcode/photos/*.jpeg
workingcode/photos/*.PNG
workingcode/photos/*.png
workingcode/myprojec3/__pycache__/*.pyc
workingcode/myapp3/__pycache__/*.pyc
workingcode/guest_photos/*.png
workingcode/guest_photos/*.PNG
workingcode/guest_photos/*.jpg
