<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Approve Guest</title>
</head>
<body>
    <h2>Approve Guest</h2>
    <form id="approve-guest-form" method="post" action="{% url 'approve_guest_template' %}">
        {% csrf_token %}
        <label>Guest:</label>
        <select name="guest" required>
            <option value="" disabled selected>Select guest List</option>
            {% for guest in guests %}
                <option value="{{ guest.id }}">{{ guest }}</option>
            {% endfor %}
        </select>
        <br>
        <button type="submit">Approve</button>
    </form>
</body>
</html>